<a href="https://colab.research.google.com/github/AbinandaP/asteroid-predcition/blob/main/Hazardous_Asteroid_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HAZARDOUS ASTEROID PREDICTION 
#### DONE BY- ABINANDA P(1932002), GAYATHRI G(1932011), SWETHA V L(1932053)

## PROBLEM DESCRIPTION:
#### Asteroids are little rocky objects that orbit the sun like planets. Despite the fact that they orbit the sun like planets, they are much smaller than our planets. There are millions of asteroids, but the most of them live in the Asteroid belt, which is located between Mars and Jupiter. The main aim of this project is to predict whether the asteroid is dangerous or not. Using the models Logistic Regression, Decision Tree Classifier and Voting Classifier, we try to predict the value of PHA(Potential Hazardous Asteroid).

## CLASSIFICATION TECHNIQUES USED:
### <UL><LI>LOGISTIC REGRESSION </LI><LI>DECISION TREE CLASSIFIER</LI><LI>VOTING CLASSIFIER HARD VOTING</LI><LI>VOTING CLASSIFIER SOFT VOTING</LI></UL>

## DATASET:
#### The dataset contains details of various asteroids that could be a potential threat to the Earth. It has 45 columns or attributes. Out of these our primary concern is about the field PHA(Potentially Hazardous Asteroid). It is of values either Y(Yes) or N(No).
### API COMMAND(kaggle datasets download -d sakhawat18/asteroid-dataset)
<i>Link for downloading dataset</i>
https://gitlab.com/mirsakhawathossain/pha-ml/-/raw/master/Dataset/dataset.csv

## CODE:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Importing packages

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score,f1_score,precision_score,recall_score,confusion_matrix,classification_report

## More information on the dataset

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset.csv")
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         id    spkid       full_name  ...     sigma_per class      rms
0  a0000001  2000001         1 Ceres  ...  9.415900e-09   MBA  0.43301
1  a0000002  2000002        2 Pallas  ...  3.680700e-06   MBA  0.35936
2  a0000003  2000003          3 Juno  ...  3.107200e-06   MBA  0.33848
3  a0000004  2000004         4 Vesta  ...  1.274900e-06   MBA  0.39980
4  a0000005  2000005       5 Astraea  ...  3.490500e-06   MBA  0.52191

[5 rows x 45 columns]

In [ ]:
df.columns

Index(['id', 'spkid', 'full_name', 'pdes', 'name', 'prefix', 'neo', 'pha', 'H',
       'diameter', 'albedo', 'diameter_sigma', 'orbit_id', 'epoch',
       'epoch_mjd', 'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w',
       'ma', 'ad', 'n', 'tp', 'tp_cal', 'per', 'per_y', 'moid', 'moid_ld',
       'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w',
       'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'class',
       'rms'],
      dtype='object')

In [ ]:
df.describe()

              spkid              H  ...     sigma_per            rms
count  9.585240e+05  952261.000000  ...  9.385980e+05  958522.000000
mean   3.810114e+06      16.906411  ...  8.525815e+04       0.561153
std    6.831541e+06       1.790405  ...  2.767681e+07       2.745700
min    2.000001e+06      -1.100000  ...  9.415900e-09       0.000000
25%    2.239632e+06      16.100000  ...  1.794500e-05       0.518040
50%    2.479262e+06      16.900000  ...  3.501700e-05       0.566280
75%    3.752518e+06      17.714000  ...  9.775475e-05       0.613927
max    5.401723e+07      33.200000  ...  1.910700e+10    2686.600000

[8 rows x 35 columns]

In [ ]:
df.shape

(958524, 45)

In [ ]:
print(df['id'].nunique())
print(df['spkid'].nunique())
print(df['full_name'].nunique())
print(df['pdes'].nunique())

958524
958524
958524
958524

## Data preprocessing

In [ ]:
data1 = df.drop(['id', 'pdes', 'name', 'prefix', 'equinox'], axis='columns', inplace=False)
asteroid_df = data1[data1['pha'].notna()]
asteroid_df = asteroid_df[asteroid_df['H'].notna()]
asteroid_df = asteroid_df.drop(['diameter', 'albedo', 'diameter_sigma'], axis= 'columns')
asteroid_df = asteroid_df[asteroid_df['sigma_ad'].notna()]
asteroid_df = asteroid_df[asteroid_df['ma'].notna()]
asteroid_df['neo'] = asteroid_df['neo'].astype('category')
asteroid_df['pha'] = asteroid_df['pha'].astype('category')
asteroid_df['class'] = asteroid_df['class'].astype('category')
asteroid_df.head()

     spkid       full_name neo pha  ...      sigma_tp     sigma_per  class      rms
0  2000001         1 Ceres   N   N  ...  3.782900e-08  9.415900e-09    MBA  0.43301
1  2000002        2 Pallas   N   N  ...  4.078700e-05  3.680700e-06    MBA  0.35936
2  2000003          3 Juno   N   N  ...  3.528800e-05  3.107200e-06    MBA  0.33848
3  2000004         4 Vesta   N   N  ...  4.103700e-06  1.274900e-06    MBA  0.39980
4  2000005       5 Astraea   N   N  ...  3.474300e-05  3.490500e-06    MBA  0.52191

[5 rows x 37 columns]

In [ ]:
orbits = asteroid_df['orbit_id'].value_counts().loc[lambda x: x<10].index.to_list()
asteroid_df.loc[asteroid_df['orbit_id'].isin(orbits), 'orbit_id'] = 'other'
asteroid_df = asteroid_df.reset_index(drop=True)
subset_df = asteroid_df[asteroid_df.columns[~asteroid_df.columns.isin(['spkid', 'full_name', 'neo', 'pha', 'orbit_id', 'class'])]]
scaler = preprocessing.MinMaxScaler()
scaled_df = scaler.fit_transform(subset_df)
scaled_df = pd.DataFrame(scaled_df, columns=subset_df.columns)
asteroid_df = pd.concat([asteroid_df[['spkid', 'full_name', 'neo', 'pha', 'orbit_id', 'class']],scaled_df], axis=1)
scaled_df.head()

          H     epoch  epoch_mjd  ...      sigma_tp     sigma_per       rms
0  0.131195  0.988218   0.988218  ...  0.000000e+00  0.000000e+00  0.000161
1  0.154519  1.000000   1.000000  ...  3.912546e-18  1.921434e-16  0.000134
2  0.187464  1.000000   1.000000  ...  3.384558e-18  1.621282e-16  0.000126
3  0.119534  0.988218   0.988218  ...  3.903861e-19  6.623144e-17  0.000149
4  0.233236  1.000000   1.000000  ...  3.332230e-18  1.821889e-16  0.000194

[5 rows x 31 columns]

In [ ]:
asteroid_df1 = pd.get_dummies(asteroid_df, columns=['neo', 'class', 'orbit_id'])
asteroid_df1.head()

     spkid       full_name  ... orbit_id_JPL 99  orbit_id_other
0  2000001         1 Ceres  ...               0               0
1  2000002        2 Pallas  ...               0               0
2  2000003          3 Juno  ...               0               1
3  2000004         4 Vesta  ...               0               0
4  2000005       5 Astraea  ...               0               1

[5 rows x 243 columns]

## Training and Testing data

In [ ]:
X = asteroid_df1.drop(['spkid', 'full_name', 'pha'], axis=1)
y = asteroid_df1.iloc[:]['pha']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1501)

## Logistic Regression Model

In [ ]:
logisticRegr = LogisticRegression(max_iter= 10000)
logisticRegr.fit(x_train, y_train)
lr_pred = logisticRegr.predict(x_test)

In [ ]:
precision=precision_score(y_test,lr_pred,average="macro")
recall=recall_score(y_test,lr_pred,average="macro")
f1=f1_score(y_test,lr_pred,average="macro")
accuracy=accuracy_score(y_test,lr_pred)
print("Precision Score: {0:.2f}".format(precision))
print("Recall Score: {0:.2f}".format(recall))
print("F1 Score: {0:.2f}".format(f1))
print("Accuracy Score: {0:.2f}".format(accuracy))

Precision Score: 0.72
Recall Score: 0.59
F1 Score: 0.63
Accuracy Score: 1.00

In [ ]:
con=confusion_matrix(y_test,lr_pred)
print(con)

[[278896    152]
 [   537    116]]

## Decision Tree Model

In [ ]:
classifier=DecisionTreeClassifier(criterion='entropy',random_state=0)
decision=classifier.fit(x_train,y_train)
dc_pred=classifier.predict(x_test)

In [ ]:
precision=precision_score(y_test,dc_pred,average="macro")
recall=recall_score(y_test,dc_pred,average="macro")
f1=f1_score(y_test,dc_pred,average="macro")
accuracy=accuracy_score(y_test,dc_pred)
print("Precision Score: {0:.2f}".format(precision))
print("Recall Score: {0:.2f}".format(recall))
print("F1 Score: {0:.2f}".format(f1))
print("Accuracy Score: {0:.2f}".format(accuracy))

Precision Score: 0.99
Recall Score: 0.99
F1 Score: 0.99
Accuracy Score: 1.00

In [ ]:
con=confusion_matrix(y_test,dc_pred)
print(con)

[[279038     10]
 [    11    642]]

## Voting Classifier
### Type: Hard Voting

In [ ]:
models=list()
models.append(('lr',LogisticRegression(max_iter= 10000)))
models.append(('dc',DecisionTreeClassifier(criterion='entropy',random_state=0)))
ensemble=VotingClassifier(estimators=models,voting='hard')

In [ ]:
ensemble.fit(x_train,y_train)
pred=ensemble.predict(x_test)
hv=pred

In [ ]:
precision=precision_score(y_test,pred,average="macro")
recall=recall_score(y_test,pred,average="macro")
f1=f1_score(y_test,pred,average="macro")
accuracy=accuracy_score(y_test,pred)
print("Precision Score: {0:.2f}".format(precision))
print("Recall Score: {0:.2f}".format(recall))
print("F1 Score: {0:.2f}".format(f1))
print("Accuracy Score: {0:.2f}".format(accuracy))

Precision Score: 1.00
Recall Score: 0.59
F1 Score: 0.65
Accuracy Score: 1.00

In [ ]:
con=confusion_matrix(y_test,pred)
print(con)

[[279048      0]
 [   537    116]]

## Voting Classifier
### Type: Soft Voting

In [ ]:
ensemble=VotingClassifier(estimators=models,voting='soft')
ensemble.fit(x_train,y_train)
pred=ensemble.predict(x_test)

In [ ]:
precision=precision_score(y_test,pred,average="macro")
recall=recall_score(y_test,pred,average="macro")
f1=f1_score(y_test,pred,average="macro")
accuracy=accuracy_score(y_test,pred)
print("Precision Score: {0:.2f}".format(precision))
print("Recall Score: {0:.2f}".format(recall))
print("F1 Score: {0:.2f}".format(f1))
print("Accuracy Score: {0:.2f}".format(accuracy))

Precision Score: 0.99
Recall Score: 0.99
F1 Score: 0.99
Accuracy Score: 1.00

In [ ]:
con=confusion_matrix(y_test,pred)
print(con)

[[279038     10]
 [    11    642]]



## Results:
### We tried to predict which ones are the hazardous asteroids using Logistic Regression and Decision Tree Classifier. At last we are using Voting Classifier to get the best model suitable according to the majority(hard), chance or probability(soft) given the situation. 
### Voting Classifier(soft) is the best model in this regard to the Hard Voting type classification method as it's f1 score is higher than the latter.

In [ ]:
print("Report on soft voting classifier:")
print(classification_report(y_true=y_test,y_pred=pred))

Report on soft voting classifier:
              precision    recall  f1-score   support

           N       1.00      1.00      1.00    279048
           Y       0.98      0.98      0.98       653

    accuracy                           1.00    279701
   macro avg       0.99      0.99      0.99    279701
weighted avg       1.00      1.00      1.00    279701